.git
.github
.vs
.vscode
bin
obj
**/bin
**/obj

*.user
*.suo
*.log
*.tmp

.env
.env.*
appsettings.Local.json
appsettings.Development.json
secrets.json

pgdata
tmp_*.html
tmp_*.js
tmp_*.txt
tmp_cookies.txt
